/*http://stackoverflow.com/questions/18424798/twitter-bootstrap-3-how-to-use-media-queries*/

.padding-top-5{ padding-top: 5px; }
.padding-top-10{ padding-top: 10px; }
.text-bold
{
	font-weight: bold;
}
.text-small
{
	font-size: .9em;
}
.text-white
{
	color: white;
}
.buscador-xs{
	margin-left: -15px;
	margin-right: -15px;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
	line-height: 20px;
}

@media (max-width: 767px) {
	.inline{ display: inline !important; }
	.buscador-xs{
		margin-left: 0px;
		margin-right: 0px;
		padding: 5px;
	}
	.navbar-top-links li:last-child { margin-right: 0px; }
}

@media (min-width: 767px) {
	/*#navbar-buscador { display: none; }*/
}