/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  /*line-height: 50px;  Vertically center the text there */
  background-color: #959595;

  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}
.img-center
{
  margin: 0 auto;
}